@mixin afterClearfix {
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}

@mixin alignCenter($class) {
    &:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }
    .#{$class} {
        display: inline-block;
        vertical-align: middle;
    }
}