.pannellum-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
}

@keyframes paint {
    from { background-position-x: 0; }
    to { background-position-x: 100%; }
}

.custom-hotspot {
    // width: 50px;
    // height: 50px;
    &-nest {
        width: 496px;
        height: 324px;
        background: url('../images/paint-grass.png') center center no-repeat;
        background-size: 1600%;
        animation: paint 3s steps(15) alternate-reverse infinite;
        span {
            white-space: nowrap;
        }
    }

    &.paint-ani {
        &-1 { // 向心鳥巢
            width: 30%;
            padding-bottom: (594 / 738 * 100% * (30 / 100));
            background: url('../images/paint-ani-1.png') center center no-repeat;
            background-size: 400%;
            animation: paint 1.5s steps(3) alternate-reverse infinite;
            ~span {
                
            }
        }
        &-2 { // 祈福鳥巢
            width: 25%;
            padding-bottom: 20.25463%;
            background: url('../images/paint-ani-2.png') center center no-repeat;
            background-size: 400%;
            animation: paint 1.5s steps(3) alternate-reverse infinite;
        }
        &-3 { // 尋覓鳥巢
            width: 32%;
            padding-bottom: (594 / 738 * 100% * (32 / 100));
            background: url('../images/paint-ani-3.png') center center no-repeat;
            background-size: 700%;
            animation: paint 3s steps(6) alternate-reverse infinite;
        }
        &-4 { // 尋覓鳥巢
            width: 35%;
            padding-bottom: (594 / 719 * 100% * (35 / 100));
            background: url('../images/paint-ani-4.png') center center no-repeat;
            background-size: 800%;
            animation: paint 3s steps(7) alternate-reverse infinite;
        }
    }
}
div.custom-tooltip {
    &:hover {
        span {
            visibility: visible;
            &:after {
                content: '';
                position: absolute;
                width: 0;
                height: 0;
                border-width: 10px;
                border-style: solid;
                border-color: #fff transparent transparent transparent;
                bottom: -20px;
                left: -10px;
                margin: 0 50%;
            }
        }
    }
    span {
        visibility: hidden;
        position: absolute;
        border-radius: 3px;
        background-color: #fff;
        color: #000;
        text-align: center;
        max-width: 275px;
        padding: 5px 10px;
        margin-left: -220px;
        cursor: default;
    }
}