html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Microsoft YaHei;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  position: relative;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: 0;
  cursor: pointer;
}

a, a:hover, a:active, a:focus, li:focus, button:focus {
  text-decoration: none;
  cursor: pointer;
  outline: none;
}

input:active, input:focus {
  outline: none;
}

body {
  min-width: 1120px;
}

body,
* {
  font-family: Microsoft JhengHei;
  color: #231815;
  text-decoration: none;
}

header,
main,
footer {
  width: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 1100px;
}

.container:after {
  content: '';
  display: block;
  clear: both;
}

.clearfix {
  clear: both;
}

select, input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.pannellum-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
}

@-webkit-keyframes paint {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 100%;
  }
}

@keyframes paint {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 100%;
  }
}

.custom-hotspot-nest {
  width: 496px;
  height: 324px;
  background: url("../images/paint-grass.png") center center no-repeat;
  background-size: 1600%;
  animation: paint 3s steps(15) alternate-reverse infinite;
}

.custom-hotspot-nest span {
  white-space: nowrap;
}

.custom-hotspot.paint-ani-1 {
  width: 30%;
  padding-bottom: 24.14634%;
  background: url("../images/paint-ani-1.png") center center no-repeat;
  background-size: 400%;
  animation: paint 1.5s steps(3) alternate-reverse infinite;
}

.custom-hotspot.paint-ani-2 {
  width: 20%;
  padding-bottom: 20.25463%;
  background: url("../images/paint-ani-2.png") center center no-repeat;
  background-size: 400%;
  animation: paint 1.5s steps(3) alternate-reverse infinite;
}

.custom-hotspot.paint-ani-3 {
  width: 32%;
  padding-bottom: 25.7561%;
  background: url("../images/paint-ani-3.png") center center no-repeat;
  background-size: 700%;
  animation: paint 3s steps(6) alternate-reverse infinite;
}

.custom-hotspot.paint-ani-4 {
  width: 35%;
  padding-bottom: 28.91516%;
  background: url("../images/paint-ani-4.png") center center no-repeat;
  background-size: 800%;
  animation: paint 3s steps(7) alternate-reverse infinite;
}

div.custom-tooltip:hover span {
  visibility: visible;
}

div.custom-tooltip:hover span:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
  bottom: -20px;
  left: -10px;
  margin: 0 50%;
}

div.custom-tooltip span {
  visibility: hidden;
  position: absolute;
  border-radius: 3px;
  background-color: #fff;
  color: #000;
  text-align: center;
  max-width: 275px;
  padding: 5px 10px;
  margin-left: -220px;
  cursor: default;
}

@-webkit-keyframes mountain {
  0%, 66% {
    -webkit-transform: scale(1.2, 0.8);
            transform: scale(1.2, 0.8);
  }
  33%, 100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes mountain {
  0%, 66% {
    -webkit-transform: scale(1.2, 0.8);
            transform: scale(1.2, 0.8);
  }
  33%, 100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

.page-index {
  position: relative;
  height: 100vh;
  min-height: 720px;
}

.page-index .container {
  height: 100%;
}

.page-index .map {
  position: absolute;
  left: 0%;
  width: 66%;
  height: calc(100% - 200px);
}

.page-index .map .icon-map {
  width: 100%;
  opacity: .08;
  height: 100%;
}

.page-index .imagine {
  position: relative;
  margin-left: 50%;
  width: 50%;
  height: 100%;
  text-align: center;
}

.page-index .imagine:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.page-index .imagine .bg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.page-index .imagine .bg .ribbon {
  position: absolute;
  z-index: 20;
  top: 30%;
  right: 0;
  left: 0;
  padding-bottom: 39.0625%;
  background: url(../images/index/imagine.png) center bottom no-repeat;
  background-size: 100%;
}

.page-index .imagine .bg .mountain {
  position: absolute;
  z-index: 10;
  top: 15%;
  right: 0;
  left: 0;
  padding-bottom: 39.0625%;
  background: url(../images/index/imagine.png) center top no-repeat;
  background-size: 100%;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
  -webkit-animation: mountain 1s cubic-bezier(0, 0, 0.5, 2.5) forwards;
          animation: mountain 1s cubic-bezier(0, 0, 0.5, 2.5) forwards;
}

.page-index .imagine h4 {
  position: relative;
  z-index: 100;
  display: inline-block;
  vertical-align: middle;
  padding-top: 20%;
  width: 50%;
  color: #604C22;
  line-height: 1.6;
}

@-webkit-keyframes mark {
  from {
    top: 30%;
  }
}

@keyframes mark {
  from {
    top: 30%;
  }
}

.page-map {
  position: relative;
  height: 100vh;
  min-height: 720px;
  background: #f7efce;
}

.page-map .container {
  height: 100%;
}

.page-map .events {
  position: absolute;
  z-index: 20;
}

.page-map .events-1 {
  top: 20%;
}

.page-map .events-2 {
  top: 60%;
}

.page-map .events-3 {
  top: 85%;
}

.page-map .events .pin-sort {
  white-space: nowrap;
}

.page-map .events .icon-pin {
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  width: 20px;
  height: 40px;
}

.page-map .events .list {
  display: inline-block;
  vertical-align: middle;
  padding: .5em 0;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 8px;
  -webkit-box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.page-map .events .list > li {
  padding: 0 .5em;
  line-height: 1.5;
}

.page-map .map-wrapper {
  position: relative;
  z-index: 10;
  height: 100%;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.page-map .map-wrapper.trans {
  -webkit-transform: translateX(-50%) scale(1.2);
          transform: translateX(-50%) scale(1.2);
}

.page-map .map-wrapper .icon-paint {
  position: absolute;
  z-index: 20;
  top: 5%;
  right: 0;
  width: 80%;
  height: 90%;
  background: center center no-repeat;
  background-size: contain;
}

.page-map .map-wrapper .icon-paint-bamboo {
  top: 51%;
  right: 4%;
  width: 50px;
  height: 60px;
  background-image: url("../images/svg-paint/bamboo.svg");
}

.page-map .map-wrapper .icon-paint-camp {
  top: 57.5%;
  right: 24.5%;
  width: 100px;
  height: 65px;
  background-image: url("../images/svg-paint/camp.svg");
}

.page-map .map-wrapper .icon-paint-center {
  top: 46%;
  right: 27%;
  width: 60px;
  height: 50px;
  background-image: url("../images/svg-paint/center.svg");
}

.page-map .map-wrapper .icon-paint-corp {
  top: 38%;
  right: 31%;
  width: 55px;
  height: 55px;
  background-image: url("../images/svg-paint/corp.svg");
}

.page-map .map-wrapper .icon-paint-horse {
  top: 27%;
  right: 54%;
  width: 75px;
  height: 55px;
  background-image: url("../images/svg-paint/horse.svg");
}

.page-map .map-wrapper .icon-paint-orange {
  top: 45.5%;
  right: 18%;
  width: 50px;
  height: 50px;
  background-image: url("../images/svg-paint/orange.svg");
}

.page-map .map-wrapper .icon-paint-park {
  top: 44%;
  right: 42%;
  width: 55px;
  height: 55px;
  background-image: url("../images/svg-paint/park.svg");
}

.page-map .map-wrapper .icon-paint-temple {
  top: 62.5%;
  right: 8%;
  width: 70px;
  height: 50px;
  background-image: url("../images/svg-paint/temple.svg");
}

.page-map .map-wrapper .icon-paint-trail {
  top: 65%;
  right: 19%;
  width: 85px;
  height: 85px;
  background-image: url("../images/svg-paint/trail.svg");
}

.page-map .map-wrapper .icon-paint-village {
  top: 43%;
  right: 23%;
  width: 50px;
  height: 50px;
  background-image: url("../images/svg-paint/village.svg");
}

.page-map .map-wrapper .icon-map {
  position: absolute;
  top: 5%;
  right: 0;
  width: 80%;
  height: 90%;
}

.page-map .map-wrapper .icon-bird {
  position: absolute;
  z-index: 10;
  top: 65%;
  right: 26%;
  width: 75px;
  height: 85px;
  background: url(../images/map/bird.svg) center center no-repeat;
}

.page-map .map-wrapper .icon-coffee {
  position: absolute;
  z-index: 10;
  top: 40%;
  right: 27%;
  width: 45px;
  height: 50px;
  background: url(../images/map/coffee.svg) center center no-repeat;
}

.page-map .map-wrapper .icon-orange {
  position: absolute;
  z-index: 10;
  top: 42.5%;
  right: 13%;
  width: 50px;
  height: 55px;
  background: url(../images/map/orange.svg) center center no-repeat;
}

.page-map .map-wrapper .icon-temple {
  position: absolute;
  z-index: 10;
  top: 67%;
  right: 5%;
  width: 60px;
  height: 85px;
  background: url(../images/map/temple.svg) center center no-repeat;
}

.page-map .map-wrapper .icon-camp {
  position: absolute;
  z-index: 10;
  top: 59%;
  right: 34%;
  width: 50px;
  height: 55px;
  background: url(../images/map/camp.svg) center center no-repeat;
}

.page-map .map-wrapper .icon-bamboo {
  position: absolute;
  z-index: 10;
  top: 49%;
  right: 9%;
  width: 55px;
  height: 65px;
  background: url(../images/map/bamboo.svg) center center no-repeat;
}

.page-map .map-wrapper .icon-landmark {
  position: absolute;
  z-index: 10;
  top: 32.5%;
  right: 48.5%;
  width: 75px;
  height: 140px;
  background: url(../images/map/landmark.svg) center center no-repeat;
}

.page-map .map-wrapper .icon-landmark-bird {
  position: absolute;
  z-index: 10;
  top: 28.5%;
  right: 49%;
  width: 50px;
  height: 40px;
  background: url(../images/map/landmark-bird.png) center center no-repeat;
  background-size: contain;
}

.page-map .map-wrapper .icon-tree {
  position: absolute;
  z-index: 10;
  background: url(../images/map/tree.svg) center center no-repeat;
}

.page-map .map-wrapper .icon-tree-1 {
  top: 49%;
  right: 70%;
  width: 80px;
  height: 95px;
}

.page-map .map-wrapper .icon-tree-2 {
  top: 20%;
  right: 47%;
  width: 55px;
  height: 70px;
}

.page-map .map-wrapper .icon-tree-3 {
  top: 57%;
  right: 54%;
  width: 45px;
  height: 60px;
}

.page-map .map-wrapper .icon-tree-4 {
  top: 62%;
  right: 44%;
  width: 60px;
  height: 85px;
}

.page-map .map-wrapper .icon-mountain {
  position: absolute;
  z-index: 10;
  background: url(../images/map/mountain.svg) center center no-repeat;
}

.page-map .map-wrapper .icon-mountain-1 {
  top: 32%;
  right: 7%;
  width: 150px;
  height: 95px;
}

.page-map .map-wrapper .icon-mountain-2 {
  top: 42%;
  right: -2%;
  width: 100px;
  height: 66px;
}

.page-map .map-wrapper .icon-mountain-3 {
  top: 72%;
  right: -5%;
  width: 130px;
  height: 90px;
}

.page-map .map-wrapper .icon-mountain-4 {
  top: 74%;
  right: 11%;
  width: 50px;
  height: 40px;
}

.page-map .map-wrapper .icon-mountain-5 {
  top: 58%;
  right: 6.5%;
  width: 38px;
  height: 30px;
}

.page-map .map-wrapper .marks-heart .mark-1 {
  top: 45%;
  left: 63%;
}

.page-map .map-wrapper .marks-heart .mark-2 {
  top: 47.5%;
  left: 67%;
}

.page-map .map-wrapper .marks-heart .mark-3 {
  top: 77%;
  left: 82%;
}

.page-map .map-wrapper .marks-heart .mark-4 {
  top: 68%;
  left: 82.5%;
}

.page-map .map-wrapper .marks-nite .mark-1 {
  top: 43%;
  left: 45%;
}

.page-map .map-wrapper .marks-nite .mark-2 {
  top: 46.5%;
  left: 50%;
}

.page-map .map-wrapper .marks-nite .mark-3 {
  top: 44.5%;
  left: 52%;
}

.page-map .map-wrapper .marks-nite .mark-4 {
  top: 50%;
  left: 75.5%;
}

.page-map .map-wrapper .marks-info .mark-1 {
  top: 45%;
  left: 63%;
}

.page-map .map-wrapper .marks-info .mark-2 {
  top: 44%;
  left: 73%;
}

.page-map .map-wrapper .marks:not(.active) {
  display: none;
}

.page-map .map-wrapper .mark {
  position: absolute;
  z-index: 30;
  -webkit-animation: mark;
          animation: mark;
}

.page-map .map-wrapper .mark-1 {
  -webkit-animation-duration: 0.35s;
          animation-duration: 0.35s;
}

.page-map .map-wrapper .mark-2 {
  -webkit-animation-duration: 0.55s;
          animation-duration: 0.55s;
}

.page-map .map-wrapper .mark-3 {
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
}

.page-map .map-wrapper .mark-4 {
  -webkit-animation-duration: 0.95s;
          animation-duration: 0.95s;
}

.page-map .map-wrapper .mark .icon-pin {
  width: 20px;
  height: 40px;
  cursor: pointer;
}

.page-map .map-wrapper .mark .icon-pin:hover ~ h5 {
  opacity: 1;
  -webkit-transform: translate(-50%, -10px);
          transform: translate(-50%, -10px);
}

.page-map .map-wrapper .mark h5 {
  position: absolute;
  z-index: 50;
  left: 50%;
  bottom: 100%;
  white-space: nowrap;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  opacity: 0;
  -webkit-transition: opacity .2s, -webkit-transform .2s;
  transition: opacity .2s, -webkit-transform .2s;
  transition: opacity .2s, transform .2s;
  transition: opacity .2s, transform .2s, -webkit-transform .2s;
  pointer-events: none;
}

@-webkit-keyframes detailFade {
  0% {
    -webkit-transform: translateX(140px);
            transform: translateX(140px);
    opacity: .6;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes detailFade {
  0% {
    -webkit-transform: translateX(140px);
            transform: translateX(140px);
    opacity: .6;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.page-map .details {
  position: absolute;
  left: 60%;
  top: 20%;
}

.page-map .details .detail-heart:not(.active) {
  display: none;
}

.page-map .details .detail-heart > li {
  margin: 20px;
}

.page-map .details .detail-heart > li:nth-child(1) {
  -webkit-animation: detailFade 0.6s forwards;
          animation: detailFade 0.6s forwards;
}

.page-map .details .detail-heart > li:nth-child(2) {
  -webkit-animation: detailFade 0.9s forwards;
          animation: detailFade 0.9s forwards;
}

.page-map .details .detail-heart > li:nth-child(3) {
  -webkit-animation: detailFade 1.2s forwards;
          animation: detailFade 1.2s forwards;
}

.page-map .details .detail-heart > li:nth-child(4) {
  -webkit-animation: detailFade 1.5s forwards;
          animation: detailFade 1.5s forwards;
}

.page-map .details .detail-heart > li .img {
  display: inline-block;
  vertical-align: middle;
  width: 160px;
  height: 120px;
  border-radius: 16px;
  background-size: contain;
}

.page-map .details .detail-heart > li .img-1 {
  background-image: url("../images/spots/1.png");
}

.page-map .details .detail-heart > li .img-2 {
  background-image: url("../images/spots/2.png");
}

.page-map .details .detail-heart > li .img-3 {
  background-image: url("../images/spots/3.png");
}

.page-map .details .detail-heart > li .img-4 {
  background-image: url("../images/spots/4.png");
}

.page-map .details .detail-heart > li .intro {
  display: inline-block;
  vertical-align: middle;
  padding-left: 40px;
}

.page-map .details .detail-heart > li .intro h5 {
  font-size: 22px;
  line-height: 2.2;
}

.page-bird {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 100px;
  height: 100vh;
  min-height: 720px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(55%, #fff), to(#CDE0D0));
  background: linear-gradient(to bottom, #fff 55%, #CDE0D0 100%);
}

.page-bird h3 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 100px;
  padding-top: 70px;
  height: 170px;
  line-height: 100px;
  font-size: 32px;
  text-indent: 270px;
  color: #57744A;
  background: url("../images/index/imagine.png") -50px -20px no-repeat;
}

.page-bird .content {
  font-size: 0;
}

.page-bird .half {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  font-size: 16px;
}

.page-bird .img-bird {
  height: 350px;
  background: url("../images/index/bird.png") center center no-repeat;
}

.page-bird p {
  padding: 0 20px;
  line-height: 1.6;
  color: #604C22;
}

.page-spots {
  min-height: 100vh;
  background: #CDE0D0;
}

.page-spots h2 {
  font-size: 40px;
  line-height: 5;
  text-align: center;
}

.page-spots .slider-wrapper {
  position: relative;
  overflow: hidden;
}

.page-spots .slider-wrapper .btn {
  position: absolute;
  top: 220px;
  z-index: 1;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0);
  border: 1px solid rgba(255, 255, 255, 0.6);
  -webkit-transition: .3s;
  transition: .3s;
}

.page-spots .slider-wrapper .btn:hover {
  border-color: #fff;
}

.page-spots .slider-wrapper .btn:hover:before {
  left: 42%;
}

.page-spots .slider-wrapper .btn:active {
  background: rgba(255, 255, 255, 0.2);
}

.page-spots .slider-wrapper .btn:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 40%;
  height: 40%;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  -webkit-transform: translate(-30%, -50%) rotate(135deg);
          transform: translate(-30%, -50%) rotate(135deg);
  -webkit-transition: .3s;
  transition: .3s;
}

.page-spots .slider-wrapper .btn-prev {
  left: calc(50% - 585px);
}

.page-spots .slider-wrapper .btn-prev:hover {
  -webkit-box-shadow: 6px 6px 16px rgba(0, 0, 0, 0.05);
          box-shadow: 6px 6px 16px rgba(0, 0, 0, 0.05);
}

.page-spots .slider-wrapper .btn-next {
  right: calc(50% - 595px);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.page-spots .slider-wrapper .btn-next:hover {
  -webkit-box-shadow: -6px -6px 16px rgba(0, 0, 0, 0.05);
          box-shadow: -6px -6px 16px rgba(0, 0, 0, 0.05);
}

.page-spots .slider {
  font-size: 0;
  white-space: nowrap;
  -webkit-transform: translateX(calc(var(--currentSpot) * -100%));
          transform: translateX(calc(var(--currentSpot) * -100%));
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
}

.page-spots .slider > li {
  position: relative;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 80px 120px;
  width: 100%;
  height: 600px;
  font-size: 16px;
  white-space: normal;
  background: url("../images/spots/spots-bg.png") center center no-repeat;
}

.page-spots .slider > li:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.page-spots .slider > li .img {
  display: inline-block;
  vertical-align: middle;
}

.page-spots .slider > li .img {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 400px;
  height: 300px;
}

.page-spots .slider > li .img:before {
  content: '';
  position: absolute;
  top: 10px;
  right: -12px;
  bottom: -10px;
  left: 12px;
  display: block;
  background: url("../images/spots/spots-border.png");
}

.page-spots .slider > li .img img {
  position: relative;
  z-index: 1;
  border-radius: 15px;
}

.page-spots .slider > li .info {
  display: inline-block;
  vertical-align: middle;
  padding-left: 50px;
  width: calc(100% - 470px);
}

.page-spots .slider > li .info h5 {
  font-size: 24px;
  line-height: 3;
}

.page-spots .slider > li .info p {
  line-height: 1.6;
}

.page-spots .slider > li .info .paint {
  position: absolute;
  top: -2%;
  right: 3%;
  width: 30%;
  height: 200px;
  background: center center no-repeat;
  background-size: contain;
}

.page-spots .slider > li .info .paint-park {
  background-image: url("../images/svg-paint/park.svg");
}

.page-spots .slider > li .info .paint-corp {
  background-image: url("../images/svg-paint/corp.svg");
}

.page-spots .slider > li .info .paint-horse {
  background-image: url("../images/svg-paint/horse.svg");
}

.page-spots .slider > li .info .paint-temple {
  background-image: url("../images/svg-paint/temple.svg");
}

.page-spots .slider > li .info .paint-bamboo {
  background-image: url("../images/svg-paint/bamboo.svg");
}

.page-spots .slider > li .info .paint-camp {
  background-image: url("../images/svg-paint/camp.svg");
}

.page-route {
  min-height: 100vh;
  background: #bbd1de;
}

.page-route h2 {
  font-size: 40px;
  line-height: 5;
  text-align: center;
}

.page-route .route {
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 16px;
  width: 48%;
  background: #fff;
  border-radius: 10px;
}

.page-route .route:nth-of-type(even) {
  margin-left: 4%;
}

.page-route .route:nth-of-type(n+3) {
  margin-top: 4%;
}

.page-route .route .thumbnail {
  margin: 0 auto;
  width: 100%;
  padding-bottom: 60%;
  background: url("../images/route/route-min-1.png") center center;
  background-size: cover;
}

.page-route .route h4 {
  padding-top: 16px;
  text-align: center;
}

.dialog {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
}

.dialog:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.dialog.active {
  display: block;
}

.dialog .dialog-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 16px;
  max-width: 90%;
  text-align: left;
  background: #fff;
}

.dialog .dialog-content .btn-x {
  position: absolute;
  top: -20px;
  right: -20px;
  width: 40px;
  height: 40px;
  color: #fff;
  font-size: 28px;
  background: #4f695e;
  border-radius: 50%;
}

.dialog .dialog-content img {
  width: 700px;
}

.dialog .dialog-content p {
  padding-top: 8px;
}

:root {
  --currentSpot: 0;
}

.icon-pin.heart {
  fill: #CC4750;
}

.icon-pin.nite {
  fill: #EA7F27;
}

.icon-pin.exp {
  fill: #25658D;
}

.icon-pin.info {
  fill: #EDB139;
}

.bridge-index-map {
  height: 200px;
  background: linear-gradient(to bottom, #fff 0%, #f7efce 180px);
}

.bridge-map-bird {
  height: 200px;
  background: linear-gradient(to bottom, #f7efce 0%, #fff 180px);
}

.bridge-spots-route {
  height: 200px;
  background: linear-gradient(to bottom, #CDE0D0 0%, #bbd1de 180px);
}

.nav-top {
  position: fixed;
  z-index: 500;
  top: 20px;
  left: 0;
  width: 100%;
  min-width: 1100px;
  background: -webkit-gradient(linear, left top, right top, color-stop(54%, rgba(255, 255, 255, 0)), color-stop(57%, #eafb88), color-stop(60%, #ecf9a5), to(rgba(39, 140, 79, 0)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 54%, #eafb88 57%, #ecf9a5 60%, rgba(39, 140, 79, 0) 100%);
}

.nav-top ul {
  float: right;
  font-size: 0;
}

.nav-top ul > li {
  position: relative;
  display: inline-block;
}

.nav-top ul > li:after {
  content: '';
  position: absolute;
  top: 5px;
  right: 0;
  bottom: 5px;
  width: 1px;
  background: #585858;
  opacity: .4;
}

.nav-top ul > li:last-of-type:after {
  content: none;
}

.nav-top ul > li a {
  display: block;
  padding: 0px 18px;
  font-size: 18px;
  color: #585858;
  line-height: 1.6;
  -webkit-transition: background .4s;
  transition: background .4s;
}

.nav-top ul > li a:hover {
  background: rgba(230, 235, 199, 0.6);
}
/*# sourceMappingURL=main.css.map */