html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Microsoft YaHei;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  position: relative;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: 0;
  cursor: pointer;
}

a, a:hover, a:active, a:focus, li:focus, button:focus {
  text-decoration: none;
  cursor: pointer;
  outline: none;
}

input:active, input:focus {
  outline: none;
}

body {
  min-width: 1120px;
}

body,
* {
  font-family: Microsoft JhengHei;
  color: #231815;
  text-decoration: none;
}

header,
main,
footer {
  width: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 1100px;
}

.container:after {
  content: '';
  display: block;
  clear: both;
}

.clearfix {
  clear: both;
}

select, input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.pannellum-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
}

.pnlm-title-box {
  color: #fff;
}

.pnlm-author-box {
  color: #ececec;
}

@-webkit-keyframes paint {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 100%;
  }
}

@keyframes paint {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 100%;
  }
}

.custom-hotspot-nest {
  width: 496px;
  height: 324px;
  background: url("../images/paint-grass.png") center center no-repeat;
  background-size: 1600%;
  animation: paint 3s steps(15) alternate-reverse infinite;
}

.custom-hotspot-nest span {
  white-space: nowrap;
}

.custom-hotspot.paint-ani-1 {
  width: 30%;
  padding-bottom: 24.14634%;
  background: url("../images/paint-ani-1.png") center center no-repeat;
  background-size: 400%;
  animation: paint 1.5s steps(3) alternate-reverse infinite;
}

.custom-hotspot.paint-ani-2 {
  width: 20%;
  padding-bottom: 20.25463%;
  background: url("../images/paint-ani-2.png") center center no-repeat;
  background-size: 400%;
  animation: paint 1.5s steps(3) alternate-reverse infinite;
}

.custom-hotspot.paint-ani-3 {
  width: 32%;
  padding-bottom: 25.7561%;
  background: url("../images/paint-ani-3.png") center center no-repeat;
  background-size: 700%;
  animation: paint 3s steps(6) alternate-reverse infinite;
}

.custom-hotspot.paint-ani-4 {
  width: 35%;
  padding-bottom: 28.91516%;
  background: url("../images/paint-ani-4.png") center center no-repeat;
  background-size: 800%;
  animation: paint 3s steps(7) alternate-reverse infinite;
}

.custom-hotspot.sky {
  width: 133px;
  height: 210px;
  background: url("../images/sky.png") center center no-repeat;
  background-size: 400%;
}

.custom-hotspot.sky-1 {
  background-position-x: 0%;
}

.custom-hotspot.sky-2 {
  background-position-x: 33.33333%;
}

.custom-hotspot.sky-3 {
  background-position-x: 66.66667%;
}

.custom-hotspot.sky-4 {
  background-position-x: 100%;
}

div.custom-tooltip:hover span {
  visibility: visible;
}

div.custom-tooltip:hover span:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
  bottom: -20px;
  left: -10px;
  margin: 0 50%;
}

div.custom-tooltip span {
  visibility: hidden;
  position: absolute;
  border-radius: 3px;
  background-color: #fff;
  color: #000;
  text-align: center;
  max-width: 275px;
  padding: 5px 10px;
  margin-left: -220px;
  cursor: default;
}

.fixmap {
  position: fixed !important;
  top: unset !important;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  -webkit-transform: none !important;
          transform: none !important;
  visibility: visible !important;
  -webkit-transition: background .3s;
  transition: background .3s;
  background: rgba(233, 252, 231, 0.6) center center no-repeat;
}

.fixmap:before {
  content: '';
  position: absolute;
  top: -6px;
  right: -6px;
  bottom: -6px;
  left: -6px;
  border: 2px solid rgba(233, 252, 231, 0.6);
  border-radius: 50%;
  -webkit-transition: border-color .3s;
  transition: border-color .3s;
}

.fixmap.active, .fixmap:hover {
  background-color: #fff;
}

.fixmap.active:before, .fixmap:hover:before {
  border-color: #fff;
}

.fixmap-sky {
  right: 515px;
  bottom: 20px !important;
  background-image: url("../images/event/detail.png");
  background-position: 0 0;
  background-size: 500%;
}

.fixmap-1 {
  right: 722px;
  bottom: 65px !important;
  background-image: url("../images/event/title-1.png");
  background-size: contain;
}

.fixmap-2 {
  right: 515px;
  bottom: 129px !important;
  background-image: url("../images/event/title-3.png");
  background-size: contain;
}

.fixmap-3 {
  right: 271px;
  bottom: 100px !important;
  background-image: url("../images/event/title-2.png");
  background-size: contain;
}

.fixmap-4 {
  right: 97px;
  bottom: 15px !important;
  background-image: url("../images/event/title-4.png");
  background-size: contain;
}

.fixmap-route {
  position: fixed !important;
  top: unset !important;
  bottom: 20px !important;
  -webkit-transform: none !important;
          transform: none !important;
  visibility: visible !important;
  right: 0;
  width: 900px;
  height: 140px;
  background: url(../images/fixmap-route.svg) center center no-repeat;
  border-radius: 0;
  pointer-events: none !important;
}

:root {
  --currentSpot: 0;
  --currentEvent: 0;
}

.icon-pin.heart {
  fill: #CC4750;
}

.icon-pin.nite {
  fill: #EA7F27;
}

.icon-pin.exp {
  fill: #25658D;
}

.icon-pin.info {
  fill: #EDB139;
}

.bridge-index-event {
  height: 200px;
  background: linear-gradient(to bottom, #fff 0%, #cfe4e4 180px);
}

.bridge-event-map {
  height: 200px;
  background: linear-gradient(to bottom, #cfe4e4 0%, #f7efce 180px);
}

.bridge-map-route {
  height: 200px;
  background: linear-gradient(to bottom, #f7efce 0%, #bbd1de 180px);
}

.nav-top {
  position: fixed;
  z-index: 500;
  top: 20px;
  left: 0;
  width: 100%;
  min-width: 1100px;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, rgba(255, 255, 255, 0)), color-stop(54%, #eafb88), color-stop(60%, #ecf9a5), to(rgba(39, 140, 79, 0)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, #eafb88 54%, #ecf9a5 60%, rgba(39, 140, 79, 0) 100%);
}

.nav-top ul {
  float: right;
  font-size: 0;
}

.nav-top ul > li {
  position: relative;
  display: inline-block;
}

.nav-top ul > li:after {
  content: '';
  position: absolute;
  top: 5px;
  right: 0;
  bottom: 5px;
  width: 1px;
  background: #585858;
  opacity: .4;
}

.nav-top ul > li:last-of-type:after {
  content: none;
}

.nav-top ul > li a {
  display: block;
  padding: 0px 18px;
  font-size: 18px;
  color: #585858;
  line-height: 1.6;
  -webkit-transition: background .4s;
  transition: background .4s;
}

.nav-top ul > li a:hover {
  background: rgba(230, 235, 199, 0.6);
}

.dialog {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
}

.dialog:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.dialog.active {
  display: block;
}

.dialog .dialog-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  max-width: 90%;
  text-align: left;
  background: #fff;
}

.dialog .dialog-content .btn-x {
  position: absolute;
  top: -20px;
  right: -20px;
  width: 40px;
  height: 40px;
  color: #fff;
  font-size: 28px;
  background: #4f695e;
  border-radius: 50%;
}

@-webkit-keyframes mountain {
  0%, 66% {
    -webkit-transform: scale(1.2, 0.8);
            transform: scale(1.2, 0.8);
  }
  33%, 100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes mountain {
  0%, 66% {
    -webkit-transform: scale(1.2, 0.8);
            transform: scale(1.2, 0.8);
  }
  33%, 100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

.page-index {
  position: relative;
  height: 100vh;
  min-height: 720px;
}

.page-index .container {
  height: 100%;
}

.page-index .map {
  position: absolute;
  left: 0%;
  width: 66%;
  height: calc(100% - 200px);
}

.page-index .map .icon-map {
  width: 100%;
  opacity: .08;
  height: 100%;
}

.page-index .map .text {
  position: absolute;
  top: 36%;
  width: 42%;
  left: 30%;
  margin: 20px 0;
}

.page-index .imagine {
  position: relative;
  margin-left: 50%;
  width: 50%;
  height: 100%;
  text-align: center;
}

.page-index .imagine:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.page-index .imagine .bg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.page-index .imagine .bg .ribbon {
  position: absolute;
  z-index: 20;
  top: 30%;
  right: 0;
  left: 0;
  padding-bottom: 39.0625%;
  background: url(../images/index/imagine.png) center bottom no-repeat;
  background-size: 100%;
}

.page-index .imagine .bg .mountain {
  position: absolute;
  z-index: 10;
  top: 15%;
  right: 0;
  left: 0;
  padding-bottom: 39.0625%;
  background: url(../images/index/imagine.png) center top no-repeat;
  background-size: 100%;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
  -webkit-animation: mountain 1s cubic-bezier(0, 0, 0.5, 2.5) forwards;
          animation: mountain 1s cubic-bezier(0, 0, 0.5, 2.5) forwards;
}

.page-index .imagine h4 {
  position: relative;
  z-index: 100;
  display: inline-block;
  vertical-align: middle;
  padding-top: 20%;
  width: 50%;
  color: #604C22;
  line-height: 1.6;
}

@-webkit-keyframes mark {
  from {
    top: 30%;
  }
}

@keyframes mark {
  from {
    top: 30%;
  }
}

.page-map {
  position: relative;
  height: 100vh;
  min-height: 720px;
  background: #f7efce;
}

.page-map.trans .map-wrapper {
  -webkit-transform: translateX(-50%) scale(1.2);
          transform: translateX(-50%) scale(1.2);
}

.page-map.trans .events {
  display: none;
}

.page-map:not(.trans) h3 {
  display: none;
}

.page-map:not(.trans) .btn-back {
  display: none;
}

.page-map .container {
  height: 100%;
}

.page-map h3 {
  position: absolute;
  z-index: 100;
  top: 160px;
  left: 30%;
}

.page-map .btn-back {
  position: absolute;
  z-index: 100;
  top: 140px;
  left: 25%;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0);
  border: 1px solid rgba(255, 255, 255, 0.6);
  -webkit-transition: .3s;
  transition: .3s;
}

.page-map .btn-back:hover {
  -webkit-box-shadow: 6px 6px 16px rgba(0, 0, 0, 0.05);
          box-shadow: 6px 6px 16px rgba(0, 0, 0, 0.05);
  border-color: #fff;
}

.page-map .btn-back:active {
  background: rgba(255, 255, 255, 0.2);
}

.page-map .btn-back .icon-back {
  width: 100%;
  height: 100%;
  fill: #000;
}

.page-map .events {
  position: absolute;
  z-index: 20;
}

.page-map .events-1 {
  top: 20%;
}

.page-map .events-2 {
  top: 55%;
}

.page-map .events-3 {
  top: 85%;
}

.page-map .events .pin-sort {
  white-space: nowrap;
}

.page-map .events .pin-sort:not(:first-of-type) {
  margin-top: 20px;
}

.page-map .events .icon-pin {
  vertical-align: middle;
  margin-right: 8px;
  width: 20px;
  height: 40px;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

.page-map .events .icon-pin.heart ~ .list .num {
  background: #cb4750;
}

.page-map .events .icon-pin.nite ~ .list .num {
  background: #ea7f27;
}

.page-map .events .icon-pin.exp ~ .list .num {
  background: #004257;
}

.page-map .events h5 {
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  border-bottom: 2px solid #456;
}

.page-map .events .list {
  padding: .5em 0;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 8px;
  -webkit-box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  -webkit-transition: background .2s;
  transition: background .2s;
}

.page-map .events .list:hover {
  background: rgba(255, 255, 255, 0.6);
}

.page-map .events .list:active {
  background: rgba(0, 0, 0, 0.1);
}

.page-map .events .list > li {
  padding: 0 .5em;
  line-height: 1.5;
}

.page-map .events .list .num {
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  color: #fff;
  line-height: 18px;
  text-align: center;
  border-radius: 50%;
}

.page-map .map-wrapper {
  position: relative;
  z-index: 10;
  height: 100%;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.page-map .map-wrapper .icon-paint {
  position: absolute;
  z-index: 20;
  top: 5%;
  right: 0;
  width: 80%;
  height: 90%;
  background: center center no-repeat;
  background-size: contain;
}

.page-map .map-wrapper .icon-paint-bamboo {
  top: 51%;
  right: 4%;
  width: 50px;
  height: 60px;
  background-image: url("../images/svg-paint/bamboo.svg");
}

.page-map .map-wrapper .icon-paint-camp {
  top: 57.5%;
  right: 24.5%;
  width: 100px;
  height: 65px;
  background-image: url("../images/svg-paint/camp.svg");
}

.page-map .map-wrapper .icon-paint-center {
  top: 46%;
  right: 27%;
  width: 60px;
  height: 50px;
  background-image: url("../images/svg-paint/center.svg");
}

.page-map .map-wrapper .icon-paint-corp {
  top: 38%;
  right: 31%;
  width: 55px;
  height: 55px;
  background-image: url("../images/svg-paint/corp.svg");
}

.page-map .map-wrapper .icon-paint-horse {
  top: 27%;
  right: 54%;
  width: 75px;
  height: 55px;
  background-image: url("../images/svg-paint/horse.svg");
}

.page-map .map-wrapper .icon-paint-orange {
  top: 45.5%;
  right: 18%;
  width: 50px;
  height: 50px;
  background-image: url("../images/svg-paint/orange.svg");
}

.page-map .map-wrapper .icon-paint-park {
  top: 44%;
  right: 42%;
  width: 55px;
  height: 55px;
  background-image: url("../images/svg-paint/park.svg");
}

.page-map .map-wrapper .icon-paint-temple {
  top: 62.5%;
  right: 8%;
  width: 70px;
  height: 50px;
  background-image: url("../images/svg-paint/temple.svg");
}

.page-map .map-wrapper .icon-paint-trail {
  top: 65%;
  right: 19%;
  width: 85px;
  height: 85px;
  background-image: url("../images/svg-paint/trail.svg");
}

.page-map .map-wrapper .icon-paint-village {
  top: 43%;
  right: 23%;
  width: 50px;
  height: 50px;
  background-image: url("../images/svg-paint/village.svg");
}

.page-map .map-wrapper .icon-map {
  position: absolute;
  top: 5%;
  right: 0;
  width: 80%;
  height: 90%;
}

.page-map .map-wrapper .icon-bird {
  position: absolute;
  z-index: 10;
  top: 65%;
  right: 26%;
  width: 75px;
  height: 85px;
  background: url(../images/map/bird.svg) center center no-repeat;
}

.page-map .map-wrapper .icon-coffee {
  position: absolute;
  z-index: 10;
  top: 40%;
  right: 27%;
  width: 45px;
  height: 50px;
  background: url(../images/map/coffee.svg) center center no-repeat;
}

.page-map .map-wrapper .icon-orange {
  position: absolute;
  z-index: 10;
  top: 42.5%;
  right: 13%;
  width: 50px;
  height: 55px;
  background: url(../images/map/orange.svg) center center no-repeat;
}

.page-map .map-wrapper .icon-temple {
  position: absolute;
  z-index: 10;
  top: 67%;
  right: 5%;
  width: 60px;
  height: 85px;
  background: url(../images/map/temple.svg) center center no-repeat;
}

.page-map .map-wrapper .icon-camp {
  position: absolute;
  z-index: 10;
  top: 59%;
  right: 34%;
  width: 50px;
  height: 55px;
  background: url(../images/map/camp.svg) center center no-repeat;
}

.page-map .map-wrapper .icon-bamboo {
  position: absolute;
  z-index: 10;
  top: 49%;
  right: 9%;
  width: 55px;
  height: 65px;
  background: url(../images/map/bamboo.svg) center center no-repeat;
}

.page-map .map-wrapper .icon-landmark {
  position: absolute;
  z-index: 10;
  top: 32.5%;
  right: 48.5%;
  width: 75px;
  height: 140px;
  background: url(../images/map/landmark.svg) center center no-repeat;
}

.page-map .map-wrapper .icon-landmark-bird {
  position: absolute;
  z-index: 10;
  top: 28.5%;
  right: 49%;
  width: 50px;
  height: 40px;
  background: url(../images/map/landmark-bird.png) center center no-repeat;
  background-size: contain;
}

.page-map .map-wrapper .icon-tree {
  position: absolute;
  z-index: 10;
  background: url(../images/map/tree.svg) center center no-repeat;
}

.page-map .map-wrapper .icon-tree-1 {
  top: 49%;
  right: 70%;
  width: 80px;
  height: 95px;
}

.page-map .map-wrapper .icon-tree-2 {
  top: 20%;
  right: 47%;
  width: 55px;
  height: 70px;
}

.page-map .map-wrapper .icon-tree-3 {
  top: 57%;
  right: 54%;
  width: 45px;
  height: 60px;
}

.page-map .map-wrapper .icon-tree-4 {
  top: 62%;
  right: 44%;
  width: 60px;
  height: 85px;
}

.page-map .map-wrapper .icon-mountain {
  position: absolute;
  z-index: 10;
  background: url(../images/map/mountain.svg) center center no-repeat;
}

.page-map .map-wrapper .icon-mountain-1 {
  top: 32%;
  right: 7%;
  width: 150px;
  height: 95px;
}

.page-map .map-wrapper .icon-mountain-2 {
  top: 42%;
  right: -2%;
  width: 100px;
  height: 66px;
}

.page-map .map-wrapper .icon-mountain-3 {
  top: 72%;
  right: -5%;
  width: 130px;
  height: 90px;
}

.page-map .map-wrapper .icon-mountain-4 {
  top: 74%;
  right: 11%;
  width: 50px;
  height: 40px;
}

.page-map .map-wrapper .icon-mountain-5 {
  top: 58%;
  right: 6.5%;
  width: 38px;
  height: 30px;
}

.page-map .map-wrapper .marks-heart .mark-1 {
  top: 45%;
  left: 63%;
}

.page-map .map-wrapper .marks-heart .mark-2 {
  top: 47.5%;
  left: 67%;
}

.page-map .map-wrapper .marks-heart .mark-3 {
  top: 77%;
  left: 82%;
}

.page-map .map-wrapper .marks-heart .mark-4 {
  top: 68%;
  left: 82.5%;
}

.page-map .map-wrapper .marks-nite .mark-1 {
  top: 43%;
  left: 45%;
}

.page-map .map-wrapper .marks-nite .mark-2 {
  top: 46.5%;
  left: 50%;
}

.page-map .map-wrapper .marks-nite .mark-3 {
  top: 44.5%;
  left: 52%;
}

.page-map .map-wrapper .marks-nite .mark-4 {
  top: 50%;
  left: 75.5%;
}

.page-map .map-wrapper .marks-exp .mark-1 {
  top: 46%;
  left: 51%;
}

.page-map .map-wrapper .marks-exp .mark-2 {
  top: 45%;
  left: 63%;
}

.page-map .map-wrapper .marks-exp .mark-3 {
  top: 47.5%;
  left: 67%;
}

.page-map .map-wrapper .marks-exp .mark-4 {
  top: 50%;
  left: 75.5%;
}

.page-map .map-wrapper .marks-exp .mark-5 {
  top: 58%;
  left: 76%;
}

.page-map .map-wrapper .marks-exp .mark-6 {
  top: 77%;
  left: 82%;
}

.page-map .map-wrapper .marks-exp .mark-7 {
  top: 47%;
  left: 83%;
}

.page-map .map-wrapper .marks-info .mark-1 {
  top: 45%;
  left: 63%;
}

.page-map .map-wrapper .marks:not(.active) {
  display: none;
}

.page-map .map-wrapper .mark {
  position: absolute;
  z-index: 30;
  -webkit-animation: mark;
          animation: mark;
}

.page-map .map-wrapper .mark-1 {
  -webkit-animation-duration: 0.35s;
          animation-duration: 0.35s;
}

.page-map .map-wrapper .mark-2 {
  -webkit-animation-duration: 0.55s;
          animation-duration: 0.55s;
}

.page-map .map-wrapper .mark-3 {
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
}

.page-map .map-wrapper .mark-4 {
  -webkit-animation-duration: 0.95s;
          animation-duration: 0.95s;
}

.page-map .map-wrapper .mark-5 {
  -webkit-animation-duration: 1.15s;
          animation-duration: 1.15s;
}

.page-map .map-wrapper .mark-6 {
  -webkit-animation-duration: 1.35s;
          animation-duration: 1.35s;
}

.page-map .map-wrapper .mark-7 {
  -webkit-animation-duration: 1.55s;
          animation-duration: 1.55s;
}

.page-map .map-wrapper .mark .icon-pin {
  width: 20px;
  height: 40px;
  cursor: pointer;
}

.page-map .map-wrapper .mark .icon-pin:hover ~ h5 {
  opacity: 1;
  -webkit-transform: translate(-50%, -10px);
          transform: translate(-50%, -10px);
}

.page-map .map-wrapper .mark .code {
  position: absolute;
  top: 1px;
  width: 100%;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  font-size: 12px;
  pointer-events: none;
}

.page-map .map-wrapper .mark h5 {
  position: absolute;
  z-index: 50;
  left: 50%;
  bottom: 100%;
  white-space: nowrap;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  opacity: 0;
  -webkit-transition: opacity .2s, -webkit-transform .2s;
  transition: opacity .2s, -webkit-transform .2s;
  transition: opacity .2s, transform .2s;
  transition: opacity .2s, transform .2s, -webkit-transform .2s;
  pointer-events: none;
}

@-webkit-keyframes detailFade {
  0% {
    -webkit-transform: translateX(140px);
            transform: translateX(140px);
    opacity: .6;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes detailFade {
  0% {
    -webkit-transform: translateX(140px);
            transform: translateX(140px);
    opacity: .6;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.page-map .details {
  position: absolute;
  left: 60%;
  top: 20%;
}

.page-map .details .detail > li {
  -webkit-animation: detailFade .9s forwards;
          animation: detailFade .9s forwards;
}

.page-map .details .detail > li:not(.active) {
  display: none;
}

.page-map .details .detail-heart > li {
  margin: 20px 0 0 50px;
}

.page-map .details .detail-heart .img {
  width: 320px;
  height: 240px;
  border-radius: 16px;
  background-size: contain;
}

.page-map .details .detail-heart .img-11 {
  background-image: url("../images/map/11.png");
}

.page-map .details .detail-heart .img-12 {
  background-image: url("../images/map/12.png");
}

.page-map .details .detail-heart .img-13 {
  background-image: url("../images/map/13.png");
}

.page-map .details .detail-heart .img-14 {
  background-image: url("../images/map/14.png");
}

.page-map .details .detail-heart .intro {
  padding-top: 20px;
}

.page-map .details .detail-heart .intro h5 {
  font-size: 22px;
  line-height: 2.2;
}

.page-map .details .detail-nite > li {
  margin: 20px;
  padding-left: 40px;
}

.page-map .details .detail-nite .img {
  display: inline-block;
  vertical-align: middle;
  width: 160px;
  height: 120px;
  border-radius: 16px;
  background-size: contain;
}

.page-map .details .detail-nite .img-21 {
  background-image: url("../images/map/21.png");
}

.page-map .details .detail-nite .img-22 {
  background-image: url("../images/map/22.png");
}

.page-map .details .detail-nite .img-23 {
  background-image: url("../images/map/23.png");
}

.page-map .details .detail-nite .img-24 {
  background-image: url("../images/map/24.png");
}

.page-map .details .detail-nite .intro h5 {
  font-size: 22px;
  line-height: 2.2;
}

.page-map .details .detail-exp > li {
  margin: 20px;
  padding-left: 40px;
}

.page-map .details .detail-exp .img {
  display: inline-block;
  vertical-align: middle;
  width: 320px;
  height: 240px;
  border-radius: 16px;
  background-size: contain;
}

.page-map .details .detail-exp .img-31 {
  background-image: url("../images/map/31.jpg");
}

.page-map .details .detail-exp .img-32 {
  background-image: url("../images/map/32.jpg");
}

.page-map .details .detail-exp .img-33 {
  background-image: url("../images/map/33.jpg");
}

.page-map .details .detail-exp .img-34 {
  background-image: url("../images/map/34.jpg");
}

.page-map .details .detail-exp .img-35 {
  background-image: url("../images/map/35.jpg");
}

.page-map .details .detail-exp .img-36 {
  background-image: url("../images/map/36.jpg");
}

.page-map .details .detail-exp .img-37 {
  background-image: url("../images/map/37.jpg");
}

.page-map .details .detail-exp .img-38 {
  background-image: url("../images/map/38.jpg");
}

.page-map .details .detail-exp .img-31, .page-map .details .detail-exp .img-32 {
  width: 240px;
  height: 180px;
}

.page-map .details .detail-exp .intro h5 {
  font-size: 22px;
  line-height: 2.2;
}

.page-bird {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 100px;
  height: 100vh;
  min-height: 720px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(55%, #fff), to(#CDE0D0));
  background: linear-gradient(to bottom, #fff 55%, #CDE0D0 100%);
}

.page-bird h3 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 100px;
  padding-top: 70px;
  height: 170px;
  line-height: 100px;
  font-size: 32px;
  text-indent: 270px;
  color: #57744A;
  background: url("../images/index/imagine.png") -50px -20px no-repeat;
}

.page-bird .content {
  font-size: 0;
}

.page-bird .half {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  font-size: 16px;
}

.page-bird .img-bird {
  height: 350px;
  background: url("../images/index/bird.png") center center no-repeat;
}

.page-bird p {
  padding: 0 20px;
  line-height: 1.6;
  color: #604C22;
}

.page-spots {
  min-height: 100vh;
  background: #CDE0D0;
}

.page-spots h2 {
  font-size: 40px;
  line-height: 5;
  text-align: center;
}

.page-spots .slider-wrapper {
  position: relative;
  overflow: hidden;
}

.page-spots .slider-wrapper .btn {
  position: absolute;
  top: 220px;
  z-index: 1;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0);
  border: 1px solid rgba(255, 255, 255, 0.6);
  -webkit-transition: .3s;
  transition: .3s;
}

.page-spots .slider-wrapper .btn:hover {
  border-color: #fff;
}

.page-spots .slider-wrapper .btn:hover:before {
  left: 42%;
}

.page-spots .slider-wrapper .btn:active {
  background: rgba(255, 255, 255, 0.2);
}

.page-spots .slider-wrapper .btn:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 40%;
  height: 40%;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  -webkit-transform: translate(-30%, -50%) rotate(135deg);
          transform: translate(-30%, -50%) rotate(135deg);
  -webkit-transition: .3s;
  transition: .3s;
}

.page-spots .slider-wrapper .btn-prev {
  left: calc(50% - 585px);
}

.page-spots .slider-wrapper .btn-prev:hover {
  -webkit-box-shadow: 6px 6px 16px rgba(0, 0, 0, 0.05);
          box-shadow: 6px 6px 16px rgba(0, 0, 0, 0.05);
}

.page-spots .slider-wrapper .btn-prev:active {
  -webkit-box-shadow: 6px 6px 16px rgba(0, 0, 0, 0.05) inset;
          box-shadow: 6px 6px 16px rgba(0, 0, 0, 0.05) inset;
}

.page-spots .slider-wrapper .btn-next {
  right: calc(50% - 595px);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.page-spots .slider-wrapper .btn-next:hover {
  -webkit-box-shadow: -6px -6px 16px rgba(0, 0, 0, 0.05);
          box-shadow: -6px -6px 16px rgba(0, 0, 0, 0.05);
}

.page-spots .slider-wrapper .btn-next:active {
  -webkit-box-shadow: -6px -6px 16px rgba(0, 0, 0, 0.05) inset;
          box-shadow: -6px -6px 16px rgba(0, 0, 0, 0.05) inset;
}

.page-spots .slider {
  font-size: 0;
  white-space: nowrap;
  -webkit-transform: translateX(calc(var(--currentSpot) * -100%));
          transform: translateX(calc(var(--currentSpot) * -100%));
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
}

.page-spots .slider > li {
  position: relative;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 80px 120px;
  width: 100%;
  height: 600px;
  font-size: 16px;
  white-space: normal;
  background: url("../images/spots/spots-bg.png") center center no-repeat;
}

.page-spots .slider > li:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.page-spots .slider > li .img {
  display: inline-block;
  vertical-align: middle;
}

.page-spots .slider > li .img {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 400px;
  height: 300px;
}

.page-spots .slider > li .img:before {
  content: '';
  position: absolute;
  top: 10px;
  right: -12px;
  bottom: -10px;
  left: 12px;
  display: block;
  background: url("../images/spots/spots-border.png");
}

.page-spots .slider > li .img img {
  position: relative;
  z-index: 1;
  border-radius: 15px;
}

.page-spots .slider > li .info {
  display: inline-block;
  vertical-align: middle;
  padding-left: 50px;
  width: calc(100% - 470px);
}

.page-spots .slider > li .info h5 {
  font-size: 24px;
  line-height: 3;
}

.page-spots .slider > li .info p {
  line-height: 1.6;
}

.page-spots .slider > li .info .paint {
  position: absolute;
  top: -2%;
  right: 3%;
  width: 30%;
  height: 200px;
  background: center center no-repeat;
  background-size: contain;
}

.page-spots .slider > li .info .paint-park {
  background-image: url("../images/svg-paint/park.svg");
}

.page-spots .slider > li .info .paint-corp {
  background-image: url("../images/svg-paint/corp.svg");
}

.page-spots .slider > li .info .paint-horse {
  background-image: url("../images/svg-paint/horse.svg");
}

.page-spots .slider > li .info .paint-temple {
  background-image: url("../images/svg-paint/temple.svg");
}

.page-spots .slider > li .info .paint-bamboo {
  background-image: url("../images/svg-paint/bamboo.svg");
}

.page-spots .slider > li .info .paint-camp {
  background-image: url("../images/svg-paint/camp.svg");
}

.page-route {
  min-height: 100vh;
  background: #bbd1de;
}

.page-route h2 {
  font-size: 40px;
  line-height: 5;
  text-align: center;
}

.page-route h2 a {
  display: inline-block;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  background: url(../images/icon-link.png);
  background-size: contain;
  vertical-align: sub;
}

.page-route .route {
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 16px;
  width: 48%;
  background: #fff;
  border-radius: 10px;
  -webkit-transition: -webkit-box-shadow .2s;
  transition: -webkit-box-shadow .2s;
  transition: box-shadow .2s;
  transition: box-shadow .2s, -webkit-box-shadow .2s;
  cursor: pointer;
}

.page-route .route:hover {
  -webkit-box-shadow: 6px 6px 26px rgba(0, 0, 0, 0.2);
          box-shadow: 6px 6px 26px rgba(0, 0, 0, 0.2);
}

.page-route .route:nth-of-type(even) {
  margin-left: 4%;
}

.page-route .route:nth-of-type(n+3) {
  margin-top: 4%;
}

.page-route .route .thumbnail {
  margin: 0 auto;
  width: 100%;
  padding-bottom: 56.5%;
  background: center center;
  background-size: cover;
}

.page-route .route .thumbnail-1 {
  background-image: url("../images/route/route-1.png");
}

.page-route .route .thumbnail-2 {
  background-image: url("../images/route/route-2.png");
}

.page-route .route h4 {
  padding-top: 16px;
  text-align: center;
}

@-webkit-keyframes routemark {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes routemark {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.dialog-route .dialog-content {
  padding: 16px;
}

.dialog-route .img-wrapper {
  position: relative;
}

.dialog-route .img-wrapper .mark {
  position: absolute;
  width: 120px;
  height: 185px;
  background: #000;
  background: url("../images/sky.png") no-repeat;
  background-size: 400%;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  -webkit-animation: routemark 1s cubic-bezier(0.4, 0, 0.5, 1.35);
          animation: routemark 1s cubic-bezier(0.4, 0, 0.5, 1.35);
}

.dialog-route .img-wrapper .mark-1 {
  background-position-x: 0%;
}

.dialog-route .img-wrapper .mark-2 {
  background-position-x: 33.33333%;
}

.dialog-route .img-wrapper .mark-3 {
  background-position-x: 66.66667%;
}

.dialog-route .img-wrapper .mark-4 {
  background-position-x: 100%;
}

.dialog-route .img-wrapper .mark:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.dialog-route .img-wrapper .mark-1 {
  top: 230px;
  left: 320px;
}

.dialog-route .img-wrapper .mark-2 {
  top: 5px;
  left: 750px;
}

.dialog-route .img-wrapper .mark-3 {
  top: 125px;
  left: 205px;
}

.dialog-route .img-wrapper .mark-4 {
  top: 40px;
  left: 500px;
}

.dialog-route p {
  padding-top: 8px;
}

.dialog-route .link {
  position: absolute;
  right: 15px;
  bottom: 15px;
  border-bottom: 1px solid #4c7daf;
  color: #000000;
}

.dialog-route .link:hover {
  color: #798991;
}

.dialog-route .link:active {
  color: #586d77;
}

.dialog-route .link .icon-link {
  display: inline-block;
  vertical-align: sub;
  width: 24px;
  height: 24px;
  background: url("../images/icon-link.png") no-repeat;
  background-size: contain;
}

.page-event {
  min-height: 100vh;
  background: #cfe4e4;
}

.page-event h2 {
  padding-top: 15px;
  font-size: 40px;
  line-height: 3;
  text-align: center;
}

.page-event .slider-wrapper {
  position: relative;
  overflow: hidden;
}

.page-event .slider-wrapper .btn {
  position: absolute;
  top: 220px;
  z-index: 1;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0);
  border: 1px solid rgba(255, 255, 255, 0.6);
  -webkit-transition: .3s;
  transition: .3s;
}

.page-event .slider-wrapper .btn:hover {
  border-color: #fff;
}

.page-event .slider-wrapper .btn:hover:before {
  left: 42%;
}

.page-event .slider-wrapper .btn:active {
  background: rgba(255, 255, 255, 0.2);
}

.page-event .slider-wrapper .btn:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 40%;
  height: 40%;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  -webkit-transform: translate(-30%, -50%) rotate(135deg);
          transform: translate(-30%, -50%) rotate(135deg);
  -webkit-transition: .3s;
  transition: .3s;
}

.page-event .slider-wrapper .btn-prev {
  left: calc(50% - 585px);
}

.page-event .slider-wrapper .btn-prev:hover {
  -webkit-box-shadow: 6px 6px 16px rgba(0, 0, 0, 0.05);
          box-shadow: 6px 6px 16px rgba(0, 0, 0, 0.05);
}

.page-event .slider-wrapper .btn-prev:active {
  -webkit-box-shadow: 6px 6px 16px rgba(0, 0, 0, 0.05) inset;
          box-shadow: 6px 6px 16px rgba(0, 0, 0, 0.05) inset;
}

.page-event .slider-wrapper .btn-next {
  right: calc(50% - 595px);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.page-event .slider-wrapper .btn-next:hover {
  -webkit-box-shadow: -6px -6px 16px rgba(0, 0, 0, 0.05);
          box-shadow: -6px -6px 16px rgba(0, 0, 0, 0.05);
}

.page-event .slider-wrapper .btn-next:active {
  -webkit-box-shadow: -6px -6px 16px rgba(0, 0, 0, 0.05) inset;
          box-shadow: -6px -6px 16px rgba(0, 0, 0, 0.05) inset;
}

.page-event .slider {
  padding-top: 40px;
  font-size: 0;
  white-space: nowrap;
  -webkit-transform: translateX(calc(var(--currentEvent) * -100%));
          transform: translateX(calc(var(--currentEvent) * -100%));
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
}

.page-event .slider li {
  position: relative;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 540px;
  font-size: 16px;
  text-align: center;
  white-space: normal;
  background: url(../images/spots/spots-bg.png) center center no-repeat;
  background-size: 1000px 530px;
}

.page-event .slider .title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding-top: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url(../images/event/title.svg) center bottom no-repeat;
  background-size: contain;
  font-size: 18px;
}

.page-event .slider .title-1:before {
  background: url("../images/event/title-1.png") center center no-repeat;
}

.page-event .slider .title-2:before {
  background: url("../images/event/title-2.png") center center no-repeat;
}

.page-event .slider .title-3:before {
  background: url("../images/event/title-3.png") center center no-repeat;
}

.page-event .slider .title-4:before {
  background: url("../images/event/title-4.png") center center no-repeat;
}

.page-event .slider .title strong {
  font-size: 22px;
}

.page-event .slider .title:before {
  content: '';
  position: absolute;
  top: -35px;
  left: 0;
  width: 100%;
  height: 60px;
}

.page-event .slider .intro {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 400px;
  height: 400px;
  text-align: center;
  background: #fff;
  border-radius: 50%;
}

.page-event .slider .intro:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.page-event .slider .intro .describe {
  display: inline-block;
  vertical-align: middle;
}

.page-event .slider .intro:after {
  content: '';
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  border: 2px solid #000;
  border-radius: 50%;
  pointer-events: none;
}

.page-event .slider .intro .describe {
  width: 75%;
  font-size: 18px;
  line-height: 1.4;
}

.page-event .slider .nest {
  display: inline-block;
  vertical-align: middle;
  margin-left: 50px;
  width: 400px;
  height: 520px;
  background: url("../images/event-nest.png") no-repeat;
  background-position-y: center;
  background-size: 400%;
}

.page-event .slider .nest-1 {
  background-position-x: 0%;
}

.page-event .slider .nest-2 {
  background-position-x: 33.33333%;
}

.page-event .slider .nest-3 {
  background-position-x: 66.66667%;
}

.page-event .slider .nest-4 {
  background-position-x: 100%;
}

.page-event .slider .btns {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  text-align: center;
}

.page-event .slider .btn-deatil {
  border: 0;
  background: none;
}

.page-event .slider .btn-deatil:hover .img {
  -webkit-box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}

.page-event .slider .btn-deatil:active .img {
  -webkit-box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2) inset;
          box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2) inset;
}

.page-event .slider .btn-deatil-1 .img {
  background-position-x: 0%;
}

.page-event .slider .btn-deatil-2 .img {
  background-position-x: 25%;
}

.page-event .slider .btn-deatil-3 .img {
  background-position-x: 50%;
}

.page-event .slider .btn-deatil-4 .img {
  background-position-x: 75%;
}

.page-event .slider .btn-deatil-5 .img {
  background-position-x: 100%;
}

.page-event .slider .btn-deatil .img {
  width: 64px;
  height: 64px;
  border: 2px solid #000;
  background-image: url("../images/event/detail.png");
  background-size: 500%;
  border-radius: 14px;
  -webkit-transition: -webkit-box-shadow .2s;
  transition: -webkit-box-shadow .2s;
  transition: box-shadow .2s;
  transition: box-shadow .2s, -webkit-box-shadow .2s;
}

.page-event .slider .btn-deatil span {
  line-height: 1.6;
}

.page-event .links {
  text-align: center;
}

.page-event .links .link {
  display: inline-block;
  vertical-align: middle;
}

.page-event .links .link:not(:last-of-type):after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  width: 40px;
  height: 40px;
  border: 0 solid #456;
  border-top-width: 2px;
  border-right-width: 2px;
  -webkit-transform: rotate(45deg) translate(-52px, -50px);
          transform: rotate(45deg) translate(-52px, -50px);
}

.page-event .links .link .tag {
  display: inline-block;
  padding: 15px 10px;
  width: 70px;
  border-radius: 45px;
  -webkit-box-shadow: 0 0 16px 8px rgba(255, 255, 255, 0.6);
          box-shadow: 0 0 16px 8px rgba(255, 255, 255, 0.6);
  -webkit-transition: .2s;
  transition: .2s;
}

.page-event .links .link .tag:before {
  content: '';
  display: block;
  height: 140px;
  background: url("../images/event/links.png");
  background-size: 400%;
  -webkit-filter: drop-shadow(1px 1px 3px rgba(255, 255, 255, 0.7));
          filter: drop-shadow(1px 1px 3px rgba(255, 255, 255, 0.7));
}

.page-event .links .link span {
  padding-top: 20px;
  font-size: 20px;
  -webkit-writing-mode: tb-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: tb-rl;
}

.page-event .links .link-1 .tag {
  background: #f8d893 -webkit-gradient(linear, left top, right bottom, from(#f8d893), to(#EACB88));
  background: #f8d893 linear-gradient(to right bottom, #f8d893, #EACB88);
}

.page-event .links .link-1 .tag:hover {
  background: #f8d893;
}

.page-event .links .link-1 .tag:active {
  background: #EACB88;
}

.page-event .links .link-2 .tag {
  background: #fdb68d -webkit-gradient(linear, left top, right bottom, from(#fdb68d), to(#EBA278));
  background: #fdb68d linear-gradient(to right bottom, #fdb68d, #EBA278);
}

.page-event .links .link-2 .tag:hover {
  background: #fdb68d;
}

.page-event .links .link-2 .tag:active {
  background: #EBA278;
}

.page-event .links .link-3 .tag {
  background: #beccad -webkit-gradient(linear, left top, right bottom, from(#beccad), to(#9FB08C));
  background: #beccad linear-gradient(to right bottom, #beccad, #9FB08C);
}

.page-event .links .link-3 .tag:hover {
  background: #beccad;
}

.page-event .links .link-3 .tag:active {
  background: #9FB08C;
}

.page-event .links .link-4 .tag {
  background: #85b3af -webkit-gradient(linear, left top, right bottom, from(#85b3af), to(#628E8A));
  background: #85b3af linear-gradient(to right bottom, #85b3af, #628E8A);
}

.page-event .links .link-4 .tag:hover {
  background: #85b3af;
}

.page-event .links .link-4 .tag:active {
  background: #628E8A;
}

.page-event .links .link-1 .tag:before {
  background-position-x: 0%;
}

.page-event .links .link-2 .tag:before {
  background-position-x: 33.33333%;
}

.page-event .links .link-3 .tag:before {
  background-position-x: 66.66667%;
}

.page-event .links .link-4 .tag:before {
  background-position-x: 100%;
}

.dialog {
  background: rgba(35, 41, 41, 0.4);
}

.dialog.dialog-event .dialog-content {
  width: 1000px;
  height: 560px;
  background: url("../images/spots/spots-bg.png");
}

.dialog.dialog-event .dialog-content:after {
  content: '';
  display: block;
  clear: both;
}

.dialog.dialog-event-1 .info .detail {
  display: inline-block;
  margin: 0 0 70px 70px;
  width: 75%;
  font-size: 16px;
  line-height: 1.6;
  text-align: left;
}

.dialog.dialog-event-1 .image {
  background: url("../images/event/boy.png") center 66% no-repeat;
}

.dialog.dialog-event-1 .image .qrcode {
  position: absolute;
  bottom: 27%;
  right: 100%;
  padding: 12px;
  white-space: nowrap;
  border: 1px solid #F39800;
}

.dialog.dialog-event-1 .image .qrcode:before {
  content: '';
  position: absolute;
  left: 100%;
  top: 20%;
  width: 85%;
  height: 1px;
  background: #F39800;
}

.dialog.dialog-event-1 .image .qrcode:after {
  content: '';
  position: absolute;
  left: 185%;
  top: 20%;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #F39800;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.dialog.dialog-event .info {
  float: left;
  width: 60%;
  height: 100%;
  text-align: center;
}

.dialog.dialog-event .info:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.dialog.dialog-event .info .detail {
  display: inline-block;
  vertical-align: middle;
}

.dialog.dialog-event .image {
  position: relative;
  float: left;
  width: 40%;
  height: 100%;
}

.dialog.dialog-event-2 .image {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 100px 0 0 50px;
  width: 400px;
  height: 300px;
}

.dialog.dialog-event-2 .image.border:before {
  content: '';
  position: absolute;
  top: 10px;
  right: -12px;
  bottom: -10px;
  left: 12px;
  display: block;
  background: url("../images/spots/spots-border.png");
}

.dialog.dialog-event-2 .image.shadow {
  -webkit-filter: drop-shadow(6px 6px 20px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(6px 6px 20px rgba(0, 0, 0, 0.1));
}

.dialog.dialog-event-2 .image img {
  position: relative;
  z-index: 1;
  border-radius: 15px;
}

.dialog.dialog-event-2 .info {
  display: inline-block;
  vertical-align: middle;
  padding-left: 50px;
  width: calc(100% - 520px);
  text-align: left;
}

.dialog.dialog-event-2 .info .detail {
  width: 85%;
}

.dialog.dialog-event-2 .info h5 {
  font-size: 24px;
  line-height: 3;
}

.dialog.dialog-event-2 .info p {
  line-height: 1.6;
}

.dialog.dialog-event-2 .info .paint {
  position: absolute;
  top: -5%;
  right: 3%;
  width: 30%;
  height: 200px;
  background: center center no-repeat;
  background-size: contain;
}

.dialog.dialog-event-2 .info .paint-corp {
  background-image: url("../images/svg-paint/corp.svg");
}

.dialog.dialog-event-2 .info .paint-temple {
  background-image: url("../images/svg-paint/temple.svg");
}

.dialog.dialog-event-2 .info .paint-bamboo {
  background-image: url("../images/svg-paint/bamboo.svg");
}
/*# sourceMappingURL=main.css.map */