
.page-bird {
    box-sizing: border-box;
    padding-top: 100px;
    height: 100vh;
    min-height: 720px;
    background: linear-gradient(to bottom, #fff 55%, #CDE0D0 100%);
    h3 {
        box-sizing: border-box;
        margin-bottom: 100px;
        padding-top: 70px;
        height: 170px;
        line-height: 100px;
        font-size: 32px;
        text-indent: 270px;
        color: #57744A;
        background: url('../images/index/imagine.png') -50px -20px no-repeat;
    }
    .content {
        font-size: 0;
    }
    .half {
        display: inline-block;
        vertical-align: middle;
        width: 50%;
        font-size: 16px;
    }
    .img-bird {
        height: 350px;
        background: url('../images/index/bird.png') center center no-repeat;
    }
    p {
        padding: 0 20px;
        line-height: 1.6;
        color: #604C22;
    }
}